body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#upload_img
{
    border: 1px solid green;
    background-color: rgb(200, 235, 192);
    width: 72%;
    margin-left: 111px;
    height: 500px;
    text-align: center;
}
#inside_image
{
    width: 50%;
    height: 250px;
    margin-left: 20%;
    margin-top: 194px;
}
#login_page_div1
{   opacity: 0.90;
    border: 1px solid #000000;
    padding: 72px;
    margin-bottom: 63px;
    font-size: 31px;
    font-weight: 200;
    line-height: 38px;
    height:137px;
    margin-left: 108px;
    background-color: #0C2707
}
#login_page_div2
{
    opacity: 0.90;
    border: 1px solid #000000;
    padding: 72px;
    margin-bottom: 63px;
    font-size: 31px;
    font-weight: 200;
    line-height: 38px;
    height:137px;
    background-color: #0C2707
}

#login_page_div2 h3{color:#f0f0f0;}
#profile_image_over_here
{

}
.Add_Event_span
{

    color: white;
    font-family: cursive;

    padding-bottom: 25px;
    padding-top: 25px;
    display: block;
}
#user_info
{
    padding-top: 25px;
}
.ali
{
    border: 1px solid green;
}
#forget_your_passwod_div
{
    border: 1px solid #225C17;
    padding: 72px;
    margin-bottom: 30px;
    font-size: 27px;
    font-weight: 200;
    line-height: 56px;
    height:123px;
    background-color: #000000;

}
#start_status_here
{background-color: rgb(238, 232, 232);}