<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet"href="/stylesheets/bootstrap-responsive.css"/>
    <link rel="stylesheet"href="/stylesheets/bootstrap.css"/>
    <title></title>
</head>
<body style="background: url('/img/SignUpBackGround.jpg')" >

<div id="upload_img">
    <div id="inside_image">
        <form id="my_form" method="POST" enctype="multipart/form-data" action="/image_upload">
            <input type="file" id='file' name="thumbnail" ><br><br>
            <input id="submit" class="btn-large" type="submit" value="Proceed">
        </form>
    </div>
</div>
<script src="/javascripts/jquery-2.0.3.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script>

</script>

</body>
</html>