<!DOCTYPE html>
<html>
   <head>
       <title></title>
       <link rel='stylesheet' href='/stylesheets/style.css' />
       <link rel="stylesheet"href="/stylesheets/bootstrap-responsive.css"/>
       <link rel="stylesheet"href="/stylesheets/bootstrap.css"/>
   </head>
   <body style="background: url('/img/SignUpBackGround.jpg')" >

      <div>
         <div id="nav">
             <ul  class="nav nav-pills">
                  <li><a class="Sign_Up_NavBar" href="/Sign_Up" style="color:rgb(18, 83, 18);">SignUp</a></li>
                  <li><a class="Sign_Up_NavBar" href="#" style="color:rgb(18, 83, 18);">Contact</a></li>
                  <li><a class="Sign_Up_NavBar" href="/image" style="color:rgb(18, 83, 18);">About</a></li>
                  <li><a class="Sign_Up_NavBar" href="/login_page" style="color:rgb(18, 83, 18);">Login</a></li>
             </ul>
          </div>
      </div>

   <script src="/javascripts/jquery-2.0.3.js"></script>
   <script src="/javascripts/bootstrap.js"></script>
   <script>
   </script>
   </body>
</html>