<!DOCTYPE html>
<html>
<head>
    <title></title>

    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet"href="/stylesheets/bootstrap-responsive.css"/>
    <link rel="stylesheet"href="/stylesheets/bootstrap.css"/>

</head>
<body style="background: url('/img/SignUpBackGround.jpg')"  >
        <div>
                <ul class="nav nav-pills">
                    <li><a style="color: green" href="\">Home</a></li>
                    <li><a style="color: green" href="\Sign_Up">SignUp</a></li>
                </ul>
                <div>
                    <div style="width: 25%"><br/>

                        <div class="container" class="span12">
                            <div id="login_page_div1" class="span3" >
                                <h4>&nbsp&nbsp<a href="/forget_your_password" >Forgot Your Password</a></h4>
                                <input id='email_in_login' type="text" placeholder="Email"/>
                                <input id='password_in_login' placeholder="Password " type="password"/>
                                <div style="float: right"><button id='login_btn' class="btn btn-primary" style="display: block;width: 100px; height: 32px; padding: 0px; float: right;" >Login</button></div>
                            </div>
                            <div  id="login_page_div2" class="span3">
                                <h3>Don't Have An Account? </h3>
                                <a href="\Sign_Up">SignUp</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
<script src="/javascripts/jquery-2.0.3.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/login_page.js"></script>
<script>
</script>
</body>
</html>