<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet"href="/stylesheets/bootstrap-responsive.css"/>
    <link rel="stylesheet"href="/stylesheets/jquery-ui-1.10.4.custom.css"/>
    <link rel="stylesheet"href="/stylesheets/bootstrap.css"/>
    <title></title>
</head>

<body style="background: #000000">
    <div class="row-fluid">
        <div class="span2 offset1">
                <input  id="autocomplete" title="type &quot;a&quot;">
                <Button class="btn-danger" id="SerachAllContent">Search <i class="icon-search"></i></Button>
        </div>
        <div class="span6 offset2">
            <ul class="nav ">
                <li style="float: right" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"      href="#">
                        <img src="/img/SignUpBackGround.jpg" style="width:20px;height:20px;">
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Account Setting</a></li>
                        <li><a href="#">Privace Setting</a></li>
                        <li class="divider"></li>
                        <li><a href="#">LogOut</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div style="margin-top: 25px;" class="row-fluid ">
        <div class="span4">
            <ul class="thumbnails">
                <li>
                    <div style="background-color: #f5f5f5" class="thumbnail">
                        <img  src="/img/SignUpBackGround.jpg" alt="100x200" style="max-width: 50%;margin-left: 0px;">
                        <div class="caption">
                            <h2 >Profile Information</h2>
                            <form class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label" for="inputEmail">Name</label>
                                    <div class="controls">
                                        <label class="control-label" >Ali Akhtar </label>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputPassword">Email </label>
                                    <div class="controls">
                                        <label class="control-label" for="inputPassword">smartali.7778@yahoo.com </label>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputPassword">PhoneNo  </label>
                                    <div class="controls">
                                        <label class="control-label" for="inputPassword">03442485141 </label>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputPassword">Date Of Birth  </label>
                                    <div class="controls">
                                        <label class="control-label" for="inputPassword">03-07-1994 </label>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputPassword">Followers  </label>
                                    <div class="controls">
                                        <label class="control-label" for="inputPassword">1000 </label>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputPassword">Following  </label>
                                    <div class="controls">
                                        <label class="control-label" for="inputPassword">1000 </label>
                                    </div>
                                </div>
                            </form>
                            <p><a href="#" class="btn btn-primary">Account Setting</a></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div   class="span5">
            <ul class="nav nav-pills">
                <li><a href="#">Followers</a></li>
                <li><a href="#">Following</a></li>
                <li><a href="#">Messages</a></li>
                <li  class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"      href="#">
                        Issue
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Create Issue</a></li>
                        <li><a href="#">Show Issue</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Delete Issue</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        </div>

    </div>
<!--<div >
<div >
        <div>
            <ul style="float: right" class="nav nav-pills">
                <li><a href="#">Account Setting</a></li>
                <li><a href="#">LogOut</a></li>
            </ul>
            <div>
                <div class="span2">
                    <input style="padding-left: 10%" id="autocomplete" title="type &quot;a&quot;">
                    <div style="padding-left: 10%"><Button class="btn-danger" id="SerachAllContent">Search <i class="icon-search"></i></Button></div>
                </div>
            </div>
        </div>


        <div style="padding-top: 10%" class="span4" id="githubdiv2">
            <div id="profile_image_over_here">
                  ffffffffffffffffffffffffffffffffffffff
            </div>
            <div id="user_info">
            <div class="Add_Event_span">FirstName:aliaaaa</div><br/>
            <div class="Add_Event_span">LastName:akhtardd </div><br/>
            <div class="Add_Event_span">Email:smartali.7778@yahoo.com</div>
            </div>
        </div>

        <div style="padding-top: 10%" class="span4" id="githubdiv">
            <div style="background-color: #000000">
                <ul class="nav nav-pills">
                    <li id="hide_li_when_click"><a id="show_all_repositry" href="#">Show  All  Repostry</a></li>
                    <li><a href="#">Contributions</a></li>
                    <li><a id="create_new_repositry" href="#">Create New Repostry</a></li>
                </ul>
            </div>
            <span id="view_your_repositry"></span>
        </div>
</div>
</div>-->
<script src="/javascripts/jquery-2.0.3.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/jquery-ui-1.10.4.custom.js"></script>
<script src="/javascripts/User_Profile.js"></script>
<script src="/javascripts/Friends.js"></script>
<script>
</script>
</body>
</html>